.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.FilterableProductTable {
  border: 1px solid;
  max-width: 500px;
  margin: 40px auto;
  padding: 5px;
}

.ProductTable-header {
  display: flex;
  padding: 5px;
  border: 1px solid;
  margin-top: 5px;
  background-color: aqua;
}

.ProductTable-header > div {
  width: 50%;
}

.ProductCategoryRow {
  background-color: cadetblue;
}

.ProductRow.stocked {
  color: red;
}

.ProductRow {
  display: flex;
  border-bottom: 1px solid red;
}

.ProductRow > div {
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
